
<div class="row">
    <div class="col-lg-4" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
    <img [src]="product.image" width="250px" height="250px"  alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<div>
    <nav aria-label="...">
        <ul class="pagination pagination-md toggle">
          
          <li class="page-item"><a class="page-link" (click)="change_page(1)">1</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(2)">2</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(3)">3</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(4)">4</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(5)">5</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(6)">6</a></li>
          <li class="page-item"><a class="page-link" (click)="change_page(7)">7</a></li>

          
        </ul>
      </nav>
</div>